@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4;
  font-weight: 100;
}

.main {
  background-image: url(./images/developer.png);
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_container h2 {
  margin: 0 auto;
  color: aliceblue;
  max-width: 900px;
  padding-top: 64px;
  font-size: 1.8rem;
  font-weight: 300;
}

.text_container span {
  font-size: 4rem;
}

.text_container h1 {
  margin: 0 auto;
  color: aliceblue;
  max-width: 900px;
  font-size: 4rem;
  line-height: 50px;
  font-weight: 200;
}

.black-box {
  height: 10rem;
  width: 100%;
  background-color: black;
  color: aliceblue;
  padding: 20px;
  text-align: center;
}

.black-box h2 {
  font-size: 4rem;
  font-weight: 100;
}
.black-box span {
  font-size: 5rem;
  font-weight: 300;
}

.section-third {
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  border: none;
  height: 400px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
  transition: 0.5s ease-in-out;
}
.box h2 {
  padding-left: 10px;
  margin-top: 5px;
}
.box p {
  margin-top: 20px;
  padding-left: 10px;
  color: black;
  font-weight: 500;
  border: 1px solid white;
  text-align: cover;
}

.box img {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  size: 20px;
}

.box:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.fourth {
  display: flex;
}
.first-div {
  background-color: green;
  height: 20rem;
  width: 50%;
  color: white;
  text-align: left;
  padding: 100px;
}
.second-div {
  background-color: red;
  height: 20rem;
  width: 50%;
  color: aliceblue;
  text-align: left;
  padding: 100px;
}

.text h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.text p {
  font-weight: 400;
  text-align: cover;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

.footer-box {
  height: 8rem !important;
  width: 100%;
  background-color: black;
  color: aliceblue;
  padding: 20px;
  text-align: center;
}

.footer-box h2 {
  font-size: 4rem;
  font-weight: 100;
}
