@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #cccc;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{
   max-width: 600px;
   padding: 20px;
   background-color: white; 
   margin: 0 auto;
   margin-top: 50px;
   box-shadow: 5px 5px 10px;
   border-radius: 10px;
}
.apply_box h1{
    text-align: center;
}

.form_container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction:column;
}

label{
    font-size: 15px;
    margin-bottom: 3px;
}

input, select, textarea{
    padding: 5px 8px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 10px;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

button{
    background-color: orange;
    border: transparent 2px solid;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    transition: ease-out 0.3s;
}

button:hover{
    background-color: black;
    color: white;
    transition: ease-in 0.3s;
}

.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea {
    width: 100%;
}

@media(max-width: 460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }
}